@media (min-width:240px) { body {font-size:0.7rem;} } /*responsive*/
@media (min-width:320px) { body {font-size:0.7rem;} }
@media (min-width:480px) { body {font-size:0.9rem;} }
@media (min-width:720px) { body {font-size:1.1rem;} }
@media (min-width:960px) { body {font-size:1.3rem;} } 
@media (min-width:1024px) { body {font-size:1.5rem;} }
@media (min-width:1280px) { body {font-size:1.7rem;} }
@media (min-width:1366px) { body {font-size:1.9rem;} }
@media (min-width:1440px) { body {font-size:2.1rem;} }
@media (min-width:1680px) { body {font-size:2.3rem;} }
@font-face{ /*enter own txt-font*/
	font-family: "Gill Sans Hel";
	src: url('Gill Sans Hel.otf');
}
html { 
	font-size:100%;	/*best for responsive*/
	background: url('openphoto.jpg');
	background-position: 50% 50%; /*responsive background*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	-webkit-user-select: none; /*unselectable*/      
	-moz-user-select: none; 
	-ms-user-select: none; 
	
}
tr.spacedown > td{
  padding-bottom: 0.5rem;
}
.linkbuttoneffect{ /*make button appear like a link*/
	background:white!important;
	padding:0!important;
	font-family: "Gill Sans Hel";
	color: black;
	font-size:100%;
	outline:none;
	outline-offset: 0;
	cursor: pointer;
	text-align: center; 
	border: solid 2px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 7px 9px 7px black;
	-moz-box-shadow: 7px 9px 7px black;
	box-shadow: 7px 9px 7px black;
}
.linkbuttoneffect:active{
	background-color:none;
	-webkit-box-shadow: 7px 2px 7px black;
	-moz-box-shadow: 7px 2px 7px black;
	box-shadow: 7px 2px 7px black;
	position: relative;
	top: 1px;
}
.linkbuttoneffect:disabled{
	color:grey;
}
.wrappermain{ /*ccs main buttons */
	position:absolute;
	bottom: 4%;
	text-align:center;
	display: inline-block; 
	margin-left:50%;
	margin-right:50%;
}
.links{ 
	cursor: pointer;
}
.links:active{
	background-color:black;
}
.linkbutton{ /*make button appear like a link*/
	background:none!important;
	padding:0!important;
	outline:none;
	outline-offset: 0;
	cursor: pointer;
}
.imageabout{
	width: 10%;
	position:absolute;
	right: 1%;
	top: 1%;
}
.imagehelp{
	width: 10%;
	position:absolute;
	right: 10%;
	top: 1%;
}
.imagesound{
	width: 10%;
	position:absolute;
	right: 19%;
	top: 1%;
}
.exit{
	/*background-image:url('door.jpg') no repeat; eikona sto koumpi*/
	position:absolute;
	right: 1%;
	bottom: 1%;
	width: 3.7%; /*responsive round button*/
    height: 0;
    padding-bottom: 3.7%;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
    /*background: #464646;*/
    box-shadow: 0 0 3px gray;
	}
.modalDialog { /*creation of modal box*/
	position: fixed;
	font-family: "Gill Sans Hel";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	text-align:justify;
	text-justify: inter-word;
	overflow: auto; /* for use of scrollbar */
}
.modalDialog:target { /*creation of pseudo-class*/
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div { /*style the div inside modal box*/
	cursor:default;
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	z-index:200;
}
.close { /*style close button*/
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { 
	background: red; 
	cursor:pointer;
}
.modalDialog2 { /*creation of modal box*/
	position: fixed;
	font-family: "Gill Sans Hel";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	text-align:justify;
	text-justify: inter-word;
	overflow: auto; /* for use of scrollbar */
}
.modalDialog2:target { /*creation of pseudo-class*/
	opacity:1;
	pointer-events: auto;
}
.modalDialog2 > div { /*style the div inside modal box*/
	cursor:default;
	width: 50%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	z-index:200;
}
.close2 { /*style close button*/
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close2:hover { 
	background: red; 
	cursor:pointer;
}